<header data-role="header" class="header">
  <div class="top-bar--desktop">
    <nav class="top-nav desktop">
      <div class="wrapper">
        <a href="/es" class="logo logo-desktop-a ui-link" title="Go to Homepage">
          <img src="/assets/w/img/logo/v2/logo-desktop.png" alt="Euromillions">
        </a>
        <ul class="ul-top-nav">
          <div class="social social--top">
            <ul>
              <li class="fb"><a href="https://www.facebook.com/Euromillionscom-204411286236724/" class="ui-link">
                <span class="icon-facebook-3"></span>
              </a>
              </li>
              <li class="tw"><a href="https://twitter.com/_lotteries" class="ui-link">
                <span class="icon-twitter"></span>
              </a>
              </li>
              <li class="gp"><a href="https://plus.google.com/+Euromillionscom" class="ui-link">
                <span class="icon-gplus-1"></span>
              </a>
              </li>
              <li class="instagram"><a href="https://www.instagram.com/euromillions.com_/" class="ui-link">
                <span class="icon-instagram"></span>
              </a>
              </li>
            </ul>
          </div>
          <li class="li-language" id="li-language--desktop">
            <a class="link myLang li-language--main-link ui-link" href="#changelanguage" data-transition="slide">Español</a>
            <div class="div-language">
              <div class="div-language--shade"></div>
              <div class="div-language--content">
                <ul class="no-li">
                  <li class="language--li--current">
                    <a class="link myLang ui-link" href="#changelanguage" data-transition="slide">Español</a>
                  </li>
                  <li>
                    <a href="javascript:globalFunctions.setLanguage('en,euroResult');" class="ui-link">English</a>
                  </li>
                  <li>
                    <a href="javascript:globalFunctions.setLanguage('ru,euroResult');" class="ui-link">русский</a>
                  </li>
                  <li>
                    <a href="javascript:globalFunctions.setLanguage('it,euroResult');" class="ui-link">Italiano</a>
                  </li>
                  <li>
                    <a href="javascript:globalFunctions.setLanguage('nl,euroResult');" class="ui-link">Nederlands</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="li-currency" id="li-currency--desktop">
            <a rel="nofollow" class="link myCur li-currency--main-link ui-link" href="#language" data-transition="slide">
              <span class="currency--symbol">€</span>
              &nbsp; EUR


            </a>
            <div class="div-currency" style="display: none;">
              <div class="div-currency--shade"></div>
              <div class="div-currency--content">
                <ul class="no-li">
                  <li class="currency--li--current">
                    <a rel="nofollow" href="javascript:globalFunctions.setCurrency('EUR');" class="ui-link">
                            <span class="currency--li--code">
                                EUR                            </span>
                      <span class="currency--li--name">
                                Euro                            </span>
                    </a>
                  </li>
                  <li class="currency--li">
                    <a rel="nofollow" href="javascript:globalFunctions.setCurrency('USD');" class="ui-link">
                            <span class="currency--li--code">
                                USD                            </span>
                      <span class="currency--li--name">
                                Dólar americano                            </span>
                    </a>
                  </li>
                  <li class="currency--li">
                    <a rel="nofollow" href="javascript:globalFunctions.setCurrency('GBP');" class="ui-link">
                            <span class="currency--li--code">
                                GBP                            </span>
                      <span class="currency--li--name">
                                Libra esterlina                            </span>
                    </a>
                  </li>
                  <li class="currency--li">
                    <a rel="nofollow" href="javascript:globalFunctions.setCurrency('CHF');" class="ui-link">
                            <span class="currency--li--code">
                                CHF                            </span>
                      <span class="currency--li--name">
                                Franco suizo                            </span>
                    </a>
                  </li>
                  <li class="currency--li">
                    <a rel="nofollow" href="javascript:globalFunctions.setCurrency('RUB');" class="ui-link">
                            <span class="currency--li--code">
                                RUB                            </span>
                      <span class="currency--li--name">
                                Rublo ruso                            </span>
                    </a>
                  </li>
                  <li class="currency--li">
                    <a rel="nofollow" href="javascript:globalFunctions.setCurrency('AUD');" class="ui-link">
                            <span class="currency--li--code">
                                AUD                            </span>
                      <span class="currency--li--name">
                                Dólar australiano                            </span>
                    </a>
                  </li>
                  <li class="currency--li--show-all">
                    <a rel="nofollow" href="/es/moneda" class="ui-link">

                      Todas las monedas




                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>


          <li class="li-sign">
            <a rel="nofollow" class="btn-theme btn-secondary ui-link" href="/es/registro">Registro</a>
          </li>
          <li class="li-sign">
            <a rel="nofollow" class="btn-theme btn-primary ui-link" href="/es/ingreso">Acceso</a>

          </li>


        </ul>
      </div>
    </nav>
  </div>
  <div class="top-bar--mobile">
    <nav class="top-nav mobile">
      <div class="wrapper">

        <a href="/es" class="logo logo-mobile-a ui-link" title="Go to Homepage">
          <img src="/assets/w/img/logo/v2/logo-mobile.png" alt="Euromillions" class="img--logo-tablet">
          <img src="/assets/w/img/logo/v2/logo-mobile-small.png" alt="Euromillions" class="img--logo-mobile">
          <img src="/assets/w/img/logo/v2/logo-mobile.png" alt="Euromillions" class="img--logo-xxs">
        </a>


        <ul class="ul-top-nav xs--min">

          <div class="sign-block xxs--max">
            <ul class="ul-top-nav">
              <li class="li-sign">
                <a rel="nofollow" class="btn-theme btn-secondary ui-link" href="/es/registro">Registro</a>
              </li>
              <li class="li-sign">
                <a rel="nofollow" class="btn-theme btn-primary ui-link" href="/es/ingreso">Acceso</a>

              </li>

            </ul>
          </div>

        </ul>
      </div>
    </nav>
  </div>

  <div class="head">
    <div class="wrapper wrapper--desktop-menu">

      <nav class="main-nav desktop">
        <ul>
          <li class="li-play">
            <a href="/es/euromillions/jugar" class="ui-link">
              <span class="txt">Juega EuroMillones</span>
            </a>
          </li>
          <li class="li-play-powerball">
            <a href="/es/powerball/jugar" class="ui-link">
              <span class="txt">Juega Powerball</span>
            </a>
          </li>
          <li class="li-christmas">
            <a href="/es/loteria-navidad/jugar" class="ui-link">
              <span class="txt">Lotería de Navidad</span>
            </a>
          </li>
          <li class="li-numbers active">
            <a href="#" class="ui-link">
              <span class="txt">Resultados loterías</span>
            </a>

            <div class="submenu">
              <ul>
                <li>
                  <a href="/es/euromillions/resultados" class="ui-link">
                    Resultados EuroMillones                </a>
                </li>
                <li>
                  <a href="/es/euromillions/resultados/sorteos-anteriores" class="ui-link">
                    EuroMillones Anteriores                </a>
                </li>
                <li>
                  <a href="/es/powerball/resultados" class="ui-link">
                    Resultados Powerball                </a>
                </li>
                <li>
                  <a href="/es/powerball/resultados/sorteos-anteriores" class="ui-link">
                    Histórico Powerball                </a>
                </li>
                <li>
                  <a href="/es/loteria-navidad/resultados" class="ui-link">
                    Resultados lotería de Navidad                </a>
                </li>
              </ul>
            </div>

          </li>

          <li class="li-help">
            <a href="/es/euromillions/como-se-juega" class="ui-link">
              <span class="txt">Cómo jugar</span>
            </a>
          </li>
          <li class="li-blog">
            <a href="/es/datos" class="ui-link">
              <span class="txt">Blog</span>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
  <nav class="nav mobile">
    <div class="nav-mobile--inner wrapper">
      <div class="menu-account-block">
        <div class="top-nav--mobile-account">

          <a rel="nofollow" href="/es/ingreso" class="top-nav--mobile-account--icon ui-link"></a>

          <div class="top-nav--mobile-account--menu">
            <div class="top-nav--mobile-account--menu--inner">

              <div class="top-nav--mobile-account--menu--top">
                <div class="home-block">
                  <a class="home-block--ico ico-block ui-link" href="/es" title="Go to Homepage"></a>
                  <a class="home-block--link ui-link" href="/es" title="Go to Homepage">Inicio</a>
                </div>





              </div>
              <div class="top-nav--mobile-account--menu--close">
              </div>
              <ul class="top-nav--mobile-account--menu--list">
                <li class="li--lottery">
                  <strong>
                    Juega loterías<br>
                  </strong>
                  <a href="/es/euromillions/jugar" class="ui-link">Juega EuroMillones</a>
                  <a href="/es/powerball/jugar" class="ui-link">Juega Powerball</a>
                  <a href="/es/loteria-navidad/jugar" class="ui-link">Lotería de Navidad</a>
                </li>
                <li>
                  <strong>
                    Resultados loterías<br>
                  </strong>
                  <a href="/es/euromillions/resultados" class="ui-link">Resultados EuroMillones</a>
                  <a href="/es/euromillions/resultados/sorteos-anteriores" class="ui-link">EuroMillones Anteriores</a>
                  <a href="/es/powerball/resultados" class="ui-link">Resultados Powerball</a>
                  <a href="/es/powerball/resultados/sorteos-anteriores" class="ui-link">Histórico Powerball</a>
                  <a href="/es/loteria-navidad/resultados" class="ui-link">Resultados lotería de Navidad</a>
                </li>
                <li>
                  <a href="/es/euromillions/como-se-juega" class="ui-link">Cómo jugar</a>
                </li>
                <li>
                  <a href="/es/datos" class="ui-link">Blog</a>
                </li>
                <li>
                  <a rel="nofollow" href="/es/ingreso" class="ui-link">Acceso</a>
                  <a rel="nofollow" href="/es/registro" class="ui-link">Registro</a>
                </li>
                <li class="li--lang">
                  <a href="#" class="ui-link">Español</a>

                  <div class="li--lang--languages">
                    <ul class="no-li">



                      <li>
                        <a href="javascript:globalFunctions.setLanguage('en,euroResult');" class="ui-link">English</a>
                      </li>
                      <li>
                        <a href="javascript:globalFunctions.setLanguage('ru,euroResult');" class="ui-link">русский</a>
                      </li>
                      <li>
                        <a href="javascript:globalFunctions.setLanguage('it,euroResult');" class="ui-link">Italiano</a>
                      </li>
                      <li>
                        <a href="javascript:globalFunctions.setLanguage('nl,euroResult');" class="ui-link">Nederlands</a>
                      </li>
                    </ul>
                  </div>


                </li>
                <li class="li--cur">
                  <a href="#" class="ui-link">€ EUR</a>
                  <div class="li--cur--currencies">
                    <ul class="no-li">
                      <li>
                        <a rel="nofollow" href="javascript:globalFunctions.setCurrency('USD');" class="ui-link">
                          USD Dólar americano                                        </a>
                      </li>
                      <li>
                        <a rel="nofollow" href="javascript:globalFunctions.setCurrency('GBP');" class="ui-link">
                          GBP Libra esterlina                                        </a>
                      </li>
                      <li>
                        <a rel="nofollow" href="javascript:globalFunctions.setCurrency('CHF');" class="ui-link">
                          CHF Franco suizo                                        </a>
                      </li>
                      <li>
                        <a rel="nofollow" href="javascript:globalFunctions.setCurrency('RUB');" class="ui-link">
                          RUB Rublo ruso                                        </a>
                      </li>
                      <li>
                        <a rel="nofollow" href="javascript:globalFunctions.setCurrency('AUD');" class="ui-link">
                          AUD Dólar australiano                                        </a>
                      </li>
                      <li>
                        <a rel="nofollow" href="/es/moneda" class="ui-link">Todas las monedas</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>

            </div>
          </div>

        </div>
      </div>

      <button class="menu-ham"><span class="bar"></span></button>

      <ul>
        <div class="wrapper">


        </div>
      </ul>
    </div>

  </nav>
</header>
